# Credentials — never commit these
*.json
!package.json

# Virtual environment
myvenv/
.myvenv/

# Python cache
__pycache__/
*.pyc

# Logs
*.log

# Scratch / practice files
practice.py
gcs_to_bigquery.py
names/

# dbt files

weather_dbt/logs/
weather_dbt/target/
weather_dbt/dbt_packages/
weather_dbt/.user.yml

# logs

logs/

# pipelines

pipeline*